<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">
 
<bean class="com.spring.practice.Student" id="student2" p:studentId="2324" p:studentName="Ram Singh" p:studentCity="Lucknow"/>

<bean class="com.spring.practice.Student" id="student">
	<property name="studentId" value="12345"/>
	<property name="studentName" value="Nitin Pal"/>
		
	<property name="studentCity" value="Delhi"/>
		
	
</bean>


 </beans>